/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.see-over-image {
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.article-background-square {
    height: 300px;
    background-position: center center;
    border: white 5px solid;
    cursor: pointer;
}

.bs-docs-header {
    padding-top: 50px;
    padding-bottom: 15px;
}

.ratings {
    padding-top: 25px;
}

.navbar {
    z-index: 999;
}

.navbar-fixed-top {
    background: #333;
    overflow : hidden;
}

.navbar-fixed-top a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.navbar-fixed-top a:hover {
    background-color: lightgray;
    color: black;
}

.navbar-fixed-top li.active {
    background-color: lightgray;
}
.navbar-fixed-top li.active a{
    color: black;
}

.navbar-fixed-bottom {
    left: inherit;
    right: 5px;
}

.thumbs {
    cursor: pointer;
}

.bottom-right {
    float: right;
}

.logo {
    //max-width: 50%;
}

.icon-bar {
    background: red;
}

.title {
    font-family: monospace;
    font-size: 50px;
    font-weight: 700;
}

.slogan {
    font-family: Roboto;
    font-size: 32px;
}

a.newsapi {
    color: blue;
}

footer {
    background-color: rgba(236, 231, 234, 0.5);
    padding: 15px 5px;
}

.article-background-square h2 {
    height: 160px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-background-square .author {
    height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-background-square h3 {
    margin-top: 10px;
}

.rz-bubble::after {
    content: "%";
}

.search-bar input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty {
    border: red solid 3px;
}

.frown {
    font-size: 100px;
    color: #f14742;
}

section.flat button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

section.flat button:hover,
section.flat button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

section.flat button:active,
section.flat button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('static/search-icon.png');
    background-position: 6px 8px;
    background-repeat: no-repeat;
    padding: 12px 2px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

.mikeButton{
    color: white;
    background-color: #202020;
    padding: 8px 2px;
    text-decoration: none;
    border: 1px solid #ddd;
    width: 65px
}

.nicole-copy-mike-button {
    color: white;
    background-color: #202020;
    border: 1px solid #ddd;
    padding: 8px 6px;
    margin-bottom: 2px;
    border-radius: 0px;
}

.nicole-copy-mike-button:hover {
    color: white;
}

.nicole-copy-mike-button.dropdown-menu>li>a {
    color: white;
}

.nicole-copy-mike-button.dropdown-menu>li>a:hover {
    color: white;
    background: #484848;
}

.rzslider .rz-pointer {
    top: -14px;
    z-index: 3;
    width: 10px;
    height: 32px;
    cursor: pointer;
    background-color: #0db9f0;
    border-radius: 10px;
}

.rzslider .rz-pointer::after {
    background: rgba(0,0,0,0);
}

.rzslider {
    margin-top: 7px;
}