/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.see-over-image {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.article-background-square {
  height:300px;
  background-position: center center;
    border: white 5px solid;
}

.bs-docs-header {
  padding-top: 50px;
  padding-bottom: 15px;
}

.ratings {
  padding-top: 25px;
}

.navbar-fixed-top {
  background: white;
}
.navbar-fixed-bottom {
  left: inherit;
  right: 5px;
}

.thumbs {
  cursor: pointer;
}

.bottom-right {
    float: right;
}