<div class="col-md-4 article-background-square" ng-repeat="article in articles" style="{{ article.background }}" ng-click="goToArticle(article.id)">
    <h2 class="see-over-image" tooltips tooltip-template="{{ article.description }}" tooltip-side="down">{{ article.title }}</h2>
    <h4 class="see-over-image author">{{ article.author }}</h4>
    <h3 class="see-over-image">{{ article.source.source_name }}</h3>
    <h4 class="see-over-image bottom-right">{{ article.hours }}</h4>
</div>
<div class="row" ng-show="loaded">
    <div class="col-md-3"></div>
    <div class="col-md-1">
        <button class="btn btn-default " ng-show="showPrev()" ng-click="goToNextPrevPage(-1)">Previous Page</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-1">
        <button class="btn btn-success" ng-click="goToNextPrevPage(1)">Next Page</button>
    </div>
</div>
