<div class="row" ng-show="data_loaded">
    <div class="col-md-12">
        <h1>{{ article.title }}</h1>
        <h4>{{ article.author }}</h4>
        <h3>{{ article.source.source_name }}</h3>
        <h5>{{ article.date }} - <a href="{{ article.url }}">Original Article</a></h5>

    </div>
    <div class="col-md-8">
        <ul>
            <li ng-repeat="sentence in article.summary_sentences">{{ sentence }} </li>
        </ul>
        <div class="row ratings">
            <div class="col-md-3"><label>Rate this summary:</label></div>
            <div class="col-md-1"><span class="thumbs" ng-click="rateThumbsUp()">&#x1F44D;</span> {{ article.rated.nb_thumbs_up }}</div>
            <div class="col-md-1"><span class="thumbs" ng-click="rateThumbsDown()">&#x1F44E;</span> {{ article.rated.nb_thumbs_down }}</div>
            <div class="col-md-3"><label>Article compression:</label></div>
            <div class="col-md-1">{{ article.compression }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                Sentiment:
            </div>
            <div class="col-md-8">
                <rzslider
                     rz-slider-model="slider.value"
                     rz-slider-options="slider.options">
                </rzslider>
            </div>
        </div>
        <div class="row">
            <img src="{{ article.url_to_image }}" style="max-width:100%"/>
        </div>
    </div>
</div>

<div class="row" ng-show="data_loaded">
    <div class="row">
        <h2>Similar Articles: </h2>
    </div>
    <div class="row">
        <div class="col-md-3 article-background-square" ng-repeat="article in article.similar_articles" style="{{ article.background }}" ng-click="goToArticle(article.id)">
            <h2 class="see-over-image" tooltips tooltip-template="{{ article.description }}" tooltip-side="down">{{ article.title }}</h2>
            <h5 class="see-over-image author">{{ article.author }}</h5>
            <h4 class="see-over-image">{{ article.source.source_name }}</h4>
            <h5 class="see-over-image bottom-right">{{ article.hours }}</h5>
        </div>
    </div>
</div>